.person-nav {
  width : 80%; 
  margin: 0 auto 20px;
  text-align: center;
}
.gallery {
  text-align: center;
}
.gallery-thumb {
  margin: 0 6px 6px 0;
  display: inline-block;
}
.people-show {
  padding: 10px 55px;
  margin: 0 5px 10px;
  border: 1px solid #e1e1e8;
  border-radius: 4px;
  width: 48%;
}
.people-show h4 {
  margin: 0 0 20px;
}
.description {
  text-align: justify;
  margin-right: 10px;
}
.form-control.form-your-name {
  width: 135px;
}
.blockquote-reviews {
  font-size: 14px;
  padding-top: 6px;
  padding-bottom: 6px;
  margin-bottom: 12px;
}
.blockquote-reviews > cite {
  color: #999;
}

.ng-dirty.ng-valid {
  border-color: #47a447;
}
.ng-dirty.ng-invalid {
  border-color: #d2322d;
}
/*.form-stars.ng-invalid {
  border-color: #d2322d;
}*/