<!DOCTYPE html>
<html ng-app="people">
  <head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/css/app.css">
  </head>
  <body>
    <div class="container">
      <div ng-controller="PeopleController as people" class="row">
        <h1>Current staff:</h1>
        <div ng-repeat="person in people.persons | orderBy:'-salary'" ng-hide="person.leftCompany" class="row people-show">
          <div class="col-md-4">
            <h2><strong>Name: </strong>{{person.name | uppercase}}</h2>
            <ul ng-init="tab = 1" class="nav nav-pills">
              <li ng-class="{ active:tab === 1 }">
                <a href ng-click="tab = 1">Details</a>
              </li>
              <li ng-class="{ active:tab === 2 }">
                <a href ng-click="tab = 2">Description</a>
              </li>
              <li ng-class="{ active:tab === 3 }">
                <a href ng-click="tab = 3">Gallery</a>
              </li>
            </ul>
          </div>
          <div ng-show="tab === 1" class="col-md-8">
            <div class="row">
              <p><strong>Based in: </strong>{{person.homwTown}}</p>
              <p><strong>Age: </strong>{{person.age}}</p>
              <p><strong>Employment date: </strong>{{person.employmentDate | date:'dd/MM/yyyy'}}</p>
              <p><strong>Salary: </strong>{{person.salary | currency}}</p>
              <button ng-show="person.canLaugh" class="btn">Make him laugh</button>
              <button ng-show="person.canCry" class="btn">Make him cry</button>
            </div>
          </div>
          <div ng-show="tab === 2" class="col-md-8">
            <div class="row">
              <p><strong>Description:</strong></p>
              <p class="description">{{person.description}}</p>
            </div>
          </div>
          <div ng-show="tab === 3" class="col-md-8">
            <div class="row">
              <div ng-show="person.images.length > 0" class="gallery">
                <div class="col-md-5">
                  <img ng-src="{{person.images[0].full}}">
                </div>
                <div class="col-md-7" max-height="300px">
                  <div ng-repeat="image in person.images" class="gallery-thumb">
                    <img ng-src="{{image.thumb}}">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <script type="text/javascript" src="js/angular.js"></script>
    <!-- <script type="text/javascript" src="js/bootstrap.js"></script> -->
    <script type="text/javascript" src="js/app.js"></script>
  </body>
</html>